body {
    margin: 0;
    background-image: url(Assets/forrest.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.hiddenSection {
    display: flex;
    justify-content: center;
    font-size: x-large;
}


#startingRoom {
    display: flex;
    justify-content: center;
}

#firstRoom {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    display: none;
}

#secondRoom {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    display: none;
    
}

#thirdRoom {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    display: none;
}

#endingRoom {
    display: flex;
    justify-content: center;
    display: none;
}