body {
    margin: 0;
}

#roomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#doorContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}

.messageContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 1px solid black;
    background-color: lightyellow;
}

.objectItem1 {
    position: absolute;
    left: 0%;
    bottom: 5%;
    height: 150px;
    width: 150px;
}

.objectItem2 {
    position: absolute;
    left: 80%;
    top: 10%;
    height: 50px;
    width: 100px;
}

.headingText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
}